

UOS=USER
SERVER1=isbn-dining.at.playit.gg
PORT1=28609
USER_NAME=test

PASSWORD=~AvjCLwx6huMhqLxbItQpqPYCn+BecGf7T4/Ks3ANlHaz0mcmkt0casuM5waip1dvAqGmDl+TMvsAbuXhnkSnAjKTi7sh/Mf+mfWPtT0cNapr14nUHjDqkSaE+hK3aS28VtXP/g==~
ENCKEY1=~VY0nQJWR+IzwB1Otd/3TPXDGhfgiSf4OmAtoIkAGSmyICVg4lLuELBIeIfss/P9MkXI34XURcbvk1NiKSjhmStgDTr+fCg==~
ENCKEY3=~VNO2yegdJ/E0DdT14fcUJ9+MqN9l5WdESOhThBBVJtfvb+NsvrjNRDoim9oFZM5PlfdX7OGJZ1SyIRS/urw=~
